* {
  margin: 0;
  padding: 0;
  }
  body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: #eee;
  }
  .container {
  margin: 100px auto;
  width: 702px;
  }
  .write {
  margin: 0 0 5px;
  padding: 5px;
  width: 684px;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }
  .keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  }
      .keyboard li {
      float: left;
      margin: 0 5px 5px 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #fff;
      border: 1px solid #f9f9f9;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      }
          .capslock, .tab, .left-shift {
          clear: left;
          }
              .keyboard .tab, .keyboard .backspace {
              width: 70px;
              }
              .keyboard .capslock {
              width: 80px;
              }
              .keyboard .enter {
              width: 77px;
              }
              .keyboard .left-shift {
              width: 68px;
              }
          .lastitem {
          margin-right: 0;
          }

          .uppercase {
          text-transform: uppercase;
          }
          .keyboard .space {
          background-color: rgba(243, 232, 31, 0.805);
          width: 258px;
          }
          .keyboard .enter {
            background-color: rgba(243, 232, 31, 0.805);
          }
          .on {
          display: none;
          }
          .keyboard li:hover {
          position: relative;
          top: 1px;
          left: 1px;
          border-color: #e5e5e5;
          cursor: pointer;
          }
