* {
  margin: 0;
  padding: 0;
  }
  body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: #eee;
  }
  .container {
  margin: 100px auto;
  width: 702px;
  }
  .write {
  margin: 0 0 5px;
  padding: 5px;
  width: 684px;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }
  .keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  }
      .keyboard li {
      float: left;
      margin: 0 5px 5px 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #fff;
      border: 1px solid #f9f9f9;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      }
              .keyboard .tab, .keyboard .backspace {
              width: 70px;
              }
              .keyboard .capslock {
              width: 80px;
              }
              .keyboard .enter {
              width: 77px;
              }
              .keyboard .shift {
              width: 102px;
              }
        .keyboard .arrowdown, .keyboard .arrowup {
          height: 20px;
          line-height: 20px;
          margin-bottom: 0;
        }
        .keyboard .arrowdown {
          position: absolute;
          bottom: -230px;
          right: 59px;
        }

        .keyboard {
          position: relative;
        }

          .uppercase {
          text-transform: uppercase;
          }
          .keyboard .space {
          width: 260px;
          }
          .on {
          display: none;
          }
          .keyboard li:hover {
          border-color: #e5e5e5;
          cursor: pointer;
          }

          .keyboard li.pressed {
            background-color: rgba(243, 232, 31, 0.805);
          }
